In [4]:
# Dependencies
import pandas as pd
import glob
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import datetime as dt

In [7]:
# Hide warning messages in notebook
import warnings 
warnings.filterwarnings('ignore')

# Loading csv datafile
citi_bike_df1 = pd.read_csv("DB/JC-201812-citibike-tripdata.csv")
citi_bike_df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [8]:
citi_bike_df2 = pd.read_csv("DB/JC-201901-citibike-tripdata.csv")
citi_bike_df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [10]:
citi_bike_df = pd.concat([citi_bike_df1, citi_bike_df2])
citi_bike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1
5,237,2018-12-01 08:08:19.9120,2018-12-01 08:12:17.0660,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29221,Subscriber,1988,1
6,396,2018-12-01 09:34:36.4440,2018-12-01 09:41:12.7040,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26306,Subscriber,1981,2
7,325,2018-12-01 12:03:04.9000,2018-12-01 12:08:30.0090,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29640,Subscriber,1960,1
8,246,2018-12-01 12:22:33.3850,2018-12-01 12:26:39.6270,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29623,Subscriber,1981,1
9,825,2018-12-01 13:02:48.6100,2018-12-01 13:16:33.8500,3183,Exchange Place,40.716247,-74.033459,3483,Montgomery St,40.719420,-74.050990,26203,Customer,1969,0
10,1053,2018-12-01 13:17:48.9130,2018-12-01 13:35:22.3630,3183,Exchange Place,40.716247,-74.033459,3206,Hilltop,40.731169,-74.057574,29257,Subscriber,1989,1
11,130,2018-12-01 13:22:32.5890,2018-12-01 13:24:42.9690,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29599,Subscriber,1992,1
12,907,2018-12-01 13:42:16.4160,2018-12-01 13:57:24.1850,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29673,Subscriber,1993,1
13,2019,2018-12-01 14:27:01.1720,2018-12-01 15:00:41.0380,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,26306,Customer,1973,2
14,1233,2018-12-01 14:54:16.2810,2018-12-01 15:14:49.7600,3183,Exchange Place,40.716247,-74.033459,3193,Lincoln Park,40.724605,-74.078406,29245,Subscriber,1969,1
15,718,2018-12-01 15:23:40.1890,2018-12-01 15:35:38.7970,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29301,Subscriber,1989,1
16,536,2018-12-01 15:24:29.2120,2018-12-01 15:33:25.7320,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31443,Subscriber,1975,1
17,320,2018-12-01 16:21:59.8340,2018-12-01 16:27:20.1120,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29485,Subscriber,1990,1
18,129,2018-12-01 16:22:37.3790,2018-12-01 16:24:47.3690,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29516,Subscriber,1971,2
19,293,2018-12-01 19:25:13.3890,2018-12-01 19:30:07.1190,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26251,Subscriber,1977,2
20,283,2018-12-02 14:41:15.9350,2018-12-02 14:45:59.1730,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29457,Subscriber,1991,1
21,561,2018-12-02 14:57:40.7930,2018-12-02 15:07:02.5580,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33781,Subscriber,1994,2
22,455,2018-12-02 16:05:09.1140,2018-12-02 16:12:44.9110,3183,Exchange Place,40.716247,-74.033459,3279,Dixon Mills,40.721630,-74.049968,29235,Subscriber,1982,1
23,956,2018-12-02 16:12:55.0780,2018-12-02 16:28:51.6770,3183,Exchange Place,40.716247,-74.033459,3212,Christ Hospital,40.734786,-74.050444,26175,Subscriber,1973,1
24,209,2018-12-02 16:41:52.8680,2018-12-02 16:45:22.6570,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26200,Subscriber,1961,1
25,230,2018-12-02 17:03:54.7240,2018-12-02 17:07:45.5460,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26274,Subscriber,1993,1
26,137,2018-12-02 19:22:33.3720,2018-12-02 19:24:50.8330,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29252,Subscriber,1991,1
27,390,2018-12-02 20:26:07.0810,2018-12-02 20:32:37.6070,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29258,Subscriber,1993,1
28,329,2018-12-02 20:33:56.7860,2018-12-02 20:39:26.6320,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29237,Subscriber,1980,1
29,364,2018-12-03 06:39:28.3890,2018-12-03 06:45:32.9660,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26274,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19646,787,2019-01-02 16:05:54.8100,2019-01-02 16:19:02.2710,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,29540,Subscriber,1991,2
19647,988,2019-01-03 06:24:05.2220,2019-01-03 06:40:33.9420,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29658,Subscriber,1977,1
19648,2692,2019-01-03 15:52:10.5060,2019-01-03 16:37:03.4000,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,29605,Subscriber,1991,2
19649,235,2019-01-04 12:44:01.1470,2019-01-04 12:47:56.2510,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29259,Subscriber,1988,1
19650,1969,2019-01-04 15:17:55.7520,2019-01-04 15:50:45.2160,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29570,Subscriber,1991,2
19651,565,2019-01-05 14:43:39.8780,2019-01-05 14:53:05.7420,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,26159,Subscriber,1995,1
19652,623,2019-01-06 19:51:20.6840,2019-01-06 20:01:44.6540,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26152,Subscriber,1983,2
19653,328,2019-01-07 12:08:43.2100,2019-01-07 12:14:11.4640,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29243,Subscriber,1991,1
19654,416,2019-01-07 16:50:31.6670,2019-01-07 16:57:28.6020,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26237,Subscriber,1991,1
19655,2210,2019-01-08 15:51:37.3020,2019-01-08 16:28:28.0370,3694,Jackson Square,40.711130,-74.078900,3268,Lafayette Park,40.713464,-74.062859,29537,Subscriber,1991,2
19656,964,2019-01-09 13:19:48.4420,2019-01-09 13:35:53.0820,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,26171,Subscriber,1988,1
19657,833,2019-01-09 15:27:37.2150,2019-01-09 15:41:31.0400,3694,Jackson Square,40.711130,-74.078900,3206,Hilltop,40.731169,-74.057574,26303,Subscriber,1991,2
19658,767,2019-01-10 22:52:55.5680,2019-01-10 23:05:43.5000,3694,Jackson Square,40.711130,-74.078900,3677,Glenwood Ave,40.727551,-74.071061,26173,Customer,1998,2
19659,1059,2019-01-11 06:21:47.7880,2019-01-11 06:39:26.8030,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26184,Subscriber,1977,1
19660,273,2019-01-12 20:15:46.1420,2019-01-12 20:20:19.6890,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26303,Subscriber,1983,2
19661,1077,2019-01-14 06:28:39.1030,2019-01-14 06:46:36.6850,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29210,Subscriber,1977,1
19662,1053,2019-01-15 06:32:07.2770,2019-01-15 06:49:40.8450,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29548,Subscriber,1977,1
19663,107,2019-01-15 15:52:46.6240,2019-01-15 15:54:34.5790,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,29295,Subscriber,1991,2
19664,830,2019-01-15 16:00:59.0470,2019-01-15 16:14:49.9750,3694,Jackson Square,40.711130,-74.078900,3206,Hilltop,40.731169,-74.057574,29295,Subscriber,1991,2
19665,1072,2019-01-16 06:15:37.3320,2019-01-16 06:33:29.4660,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29252,Subscriber,1977,1
19666,2605,2019-01-16 16:15:23.6090,2019-01-16 16:58:48.8510,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,26211,Subscriber,1991,2
19667,993,2019-01-17 06:28:22.9120,2019-01-17 06:44:56.6140,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29272,Subscriber,1977,1
19668,345,2019-01-18 12:25:29.4430,2019-01-18 12:31:14.9500,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29515,Subscriber,1983,1
19669,1146,2019-01-18 15:48:34.3690,2019-01-18 16:07:41.2500,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29442,Subscriber,1991,2
19670,991,2019-01-25 06:19:31.8210,2019-01-25 06:36:03.2230,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29530,Subscriber,1977,1
19671,853,2019-01-26 06:40:17.3320,2019-01-26 06:54:30.8880,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26293,Subscriber,1977,1
19672,936,2019-01-27 06:36:20.6400,2019-01-27 06:51:57.1460,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26291,Subscriber,1977,1
19673,653,2019-01-27 21:14:08.5460,2019-01-27 21:25:01.6170,3694,Jackson Square,40.711130,-74.078900,3677,Glenwood Ave,40.727551,-74.071061,26188,Customer,1998,2
19674,960,2019-01-29 06:15:26.5880,2019-01-29 06:31:26.7300,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26196,Subscriber,1977,1
19675,1109,2019-01-30 06:30:03.6050,2019-01-30 06:48:33.2760,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26242,Subscriber,1977,1

In [11]:
citi_bike_df=citi_bike_df.rename(index=str, \
    columns={"start station id": "start_station_id", "start station name": "start_station_name", \
             "start station longitude": "start_station_longitude",\
             "start station latitude": "start_station_latitude", "end station id": "end_station_id", \
             "end station name": "end_station_name", "end station latitude":"end_station_latitude", \
             "end station longitude": "end_station_longitude", "birth year": "birth_year"})
citi_bike_df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [12]:
citi_bike_df.count()

tripduration               39881
starttime                  39881
stoptime                   39881
start_station_id           39881
start_station_name         39881
start_station_latitude     39881
start_station_longitude    39881
end_station_id             39881
end_station_name           39881
end_station_latitude       39881
end_station_longitude      39881
bikeid                     39881
usertype                   39881
birth_year                 39881
gender                     39881
dtype: int64

In [13]:
citi_bike_df.to_csv('db/NY_bike_2018&19.csv')

In [14]:
citi_bike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                   int64
gender                       int64
dtype: object

In [15]:
# # How many trips have been recorded total during the chosen period?
citi_bike_df.bikeid.count()

39881

In [16]:
# gender count
citi_bike_df.gender.value_counts()

1    30090
2     8496
0     1295
Name: gender, dtype: int64

In [17]:
# user type 
citi_bike_df.usertype.value_counts()

Subscriber    38881
Customer       1000
Name: usertype, dtype: int64

In [24]:
# start station
#citi_bike_df.start_station_name.value_counts()

In [26]:
# start station
# citi_bike_df.end_station_name.value_counts()

In [29]:
# How has the proportion of short-term customers and annual subscribers changed?
df_customers = citi_bike_df.groupby('usertype')['usertype'].count().sort_values(ascending=False).reset_index(name='count')
print(df_customers.head())
x= np.array(df_customers[["count"]].values)
print("x=",x)
print("\nThe proportion of Annual Subscribers vs. short-term customers: \n", x*100.0/sum(x))

     usertype  count
0  Subscriber  38881
1    Customer   1000
x= [[38881]
 [ 1000]]

The proportion of Annual Subscribers vs. short-term customers:
 [[97.49254031]
 [ 2.50745969]]

In [30]:
citi_bike_df = citi_bike_df.dropna(how="any")
citi_bike_df.count()

tripduration               39881
starttime                  39881
stoptime                   39881
start_station_id           39881
start_station_name         39881
start_station_latitude     39881
start_station_longitude    39881
end_station_id             39881
end_station_name           39881
end_station_latitude       39881
end_station_longitude      39881
bikeid                     39881
usertype                   39881
birth_year                 39881
gender                     39881
dtype: int64

In [31]:
# By what percentage has total ridership grown?   (doing it month on month)

print("Min starttime:",min(citi_bike_df["starttime"]))
print("Max starttime:",max(citi_bike_df["starttime"])) 

citi_bike_df["starttime"] = pd.to_datetime(citi_bike_df["starttime"])
citi_bike_df["Month_starttime"] = citi_bike_df["starttime"].map((lambda x: x.month))

citi_bike_df.Month_starttime.unique()

citi_bike_df.head()

Min starttime: 2018-12-01 00:03:53.3860
Max starttime: 2019-01-31 23:04:07.3750

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,Month_starttime
0,170,2018-12-01 00:03:53.386,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1,12
1,172,2018-12-01 00:47:13.734,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1,12
2,247,2018-12-01 00:48:57.696,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1,12
3,406,2018-12-01 01:33:53.663,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1,12
4,354,2018-12-01 06:26:52.512,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1,12

In [32]:
# By what percentage has total ridership grown?   (doing it month on month)
print (citi_bike_df.groupby(["usertype","Month_starttime"])["tripduration"].count())

usertype    Month_starttime
Customer    1                    409
            12                   591
Subscriber  1                  19267
            12                 19614
Name: tripduration, dtype: int64

In [37]:
df_per = citi_bike_df.groupby('Month_starttime')['Month_starttime'].count().reset_index(name='count')
df_per.sort_values(by='Month_starttime', ascending=False)

prev = df_per['count'][0]
for x in df_per['count'].tolist():
    print("prev=",prev)
    print("x = ",x)
    perc = (100/prev*x )-100
    print("percentage =", perc)
    prev = x
    #y = y + 1
                
df_per

prev= 19676
x =  19676
percentage = 0.0
prev= 19676
x =  20205
percentage = 2.6885545842650913

   Month_starttime  count
0                1  19676
1               12  20205